body{
    background-color: rgb(221, 43, 43);
}

.pokeLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
    margin-top: 30px;
}

form{
    margin: auto;
    width: 16.5%;
    padding: 10px;
    margin-top: 40px;
    align-content: center;
}

@media only screen and (max-width: 600px) {
    form {
      display: grid;
      width: 48%;
    }
  }

.textline{
    border-radius: 25px;
    border: 3px solid #000000; 
    text-align: center; 
}

.searchbutton{
    border-radius: 25px;
    border: 3px solid #000000;
    background: #003A70;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
    .pokeLogo {
      width: 180px;
      height: auto;
    }
  }

.card-pokemon {
    display: block;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    border-radius: 25px;
    border: 3px solid #000000;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-contenedor {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.stats-pokemon div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
    text-transform: capitalize;
}

.tipo-pokemon div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 3px solid #003A70;
    text-transform: capitalize;
}

.img-pokemon {
    width: 130px;
}
